<html>
<head>
  <title>Login</title>
  <style type="text/css">
  .box
  {
      width: 50%;
      height: 60%;
      border: 2px solid #000000;
      margin: auto;
      margin-top: 10%;
      text-align: center;
      line-height: 700%;
  }
  </style>
</head>
<body bgcolor="silver">
  <div class="box">
    <center>
      <H2>Cloud Pc</H2>
    </center>
    <center>
     <p>Don't have an account ? <a href="{{signupurl}}">Sign up</a>
     <br>
     Already have an account ? <a href="{{loginurl}}">Login</a></p> 
    </center>
    
  </div>
</body>
</html>

