<html>
<head>
  <title>Login</title>
  <style type="text/css">
  .box
  {
      width: 50%;
      height: 50%;
      border: 2px solid #000000;
      margin: auto;
      margin-top: 10%;
      text-align: center;
      line-height: 700%;
  }
  </style>
</head>
<body bgcolor="silver">
  <div class="box">
    <center>
      <H2>User Login</H2>
    </center>
    <center>
    <form name="userlogin">
      <input type='text' id='username' name="username" placeholder="your username"/><br>
      <input type='password' id='password' name="password" placeholder="password"/><br>
      <button onclick=''> login </button>
    </form>
    </center>
    <center>
     <span>Don't have an account ? <a href="{{signupurl}}">Sign up</a></span> 
    </center>
    
  </div>
</body>
</html>

