<html>
<head>
  <title>Login</title>
  <style type="text/css">
  .box
  {
      width: 50%;
      height: 50%;
      border: 2px solid #000000;
      margin: auto;
      margin-top: 10%;
      text-align: center;
      line-height: 700%;
  }
  </style>
  <script src="{{url_for('static', filename='jquery-2.2.1.min.js') }}"></script>
  <script src="{{url_for('static', filename='login.js') }}"></script>
</head>
<body bgcolor="silver">
  <div class="box">
    <center>
      <H2>User Login</H2>
    <form name="userlogin">
      <input type='text' id='username' name="username" placeholder="username"/><br>
      <input type='password' id='password' name="password" placeholder="password"/><br>
      <br><br>
      <input type='button' value='Login' onclick="login('{{HomeUrl}}' , '{{LoginUrl}}');">
      <div id="mssg"></div>
      <span>Don't have an account ? <a href="{{SignupUrl}}">Sign up</a></span> 

    </form>
    </center>
    
  </div>
</body>
</html>

