<html>
<head>
  <title>Login</title>
  <style type="text/css">
  .box
  {
      width: 50%;
      height: 50%;
      border: 2px solid #000000;
      margin: auto;
      margin-top: 10%;
      text-align: center;
      line-height: 700%;
  }
  </style>
</head>
<body bgcolor="silver">
  <div class="box">
    <center>
      <H2>User Registration</H2>
    </center>
    <center>
    <form name="userlogin">
      <input type='email' id='emailid' name="username" placeholder="your emailid"/><br>
      <input type='text' id='password1' name="password1" placeholder="password"/><br>
      <input type='text' id='password2' name="password2" placeholder="re-type your password"/><br>
      <button onclick=''> Register </button>
    </form>
    </center>
    <center>
     <span>Already have an account ? <a href="{{loginurl}}">Login</a></span> 
    </center>
    
  </div>
</body>
</html>

