<html>
<head>
  <title>Login</title>
  <style type="text/css">
  .box
  {
      width: 50%;
      height: 90%;
      border: 2px solid #000000;
      margin: auto;
      margin-top: 2%;
      text-align: center;
      line-height: 700%;
  }
  </style>
  <script src="{{url_for('static', filename='jquery-2.2.1.min.js') }}"></script>
  <script src="{{url_for('static', filename='signup.js') }}"></script>
</head>
<body bgcolor="silver">
  <div class="box">
    <center>
      <H2>User Registration</H2>
    <form name="userlogin">
      <input type='text' id='name' name="name" placeholder = "Name">
      <input type='text' id='username' name="username" placeholder="Username">
      <input type='text' id='password1' name="password1" placeholder="Password"/>
      <br><br>
      <input type='button' value='Register' onclick="signup('{{LoginUrl}}' , '{{SignupUrl}}');">
      <div id="mssg"></div>
      <br>
      <span>Already have an account ? <a href="{{LoginUrl}}">Login</a></span> 
    </form> 
    </center>
    
  </div>
</body>
</html>

